# Ignorar archivos y carpetas no necesarios
*.pyc
__pycache__
.git
.idea
venv/
# Ignorar Dockerfile si contiene información sensible
Dockerfile

# Ignorar archivos de configuración de Kubernetes
*.yaml
*.yml

# También podrías agregar otros archivos que contienen datos sensibles
.env
